.mobile_add {width: 100%;display: flex;-webkit-box-align: center;align-items: center;-webkit-box-pack: center;justify-content: center;background: rgb(219, 221, 227);padding: 20px 0px; min-height:270px}
.mobile_bg {text-align: center;padding-top: 5px;background: rgb(232, 233, 237);}
.add_title {color: rgb(121, 126, 144);font-size: 12px;text-align: center;display: block;}
.m_outbrain{padding: 10px 16px 0px 16px;background: #fff;}