.stel-battlenews {
  padding: 10px 15px;
  border-top: 5px solid #001d42;
  text-align: center;
  margin-bottom: 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}
.stel-battlenews span {
  display: block;
  color: #e1261c;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.stel-battlenews span:after {
  content: "";
  width: 40px;
  height: 1px;
  background: #e1261c;
  display: block;
  margin: 5px auto auto auto;
}
.stel-battlenews-slider {
  position: relative;
  overflow: hidden;
}
.stel-battlenews-slider ul {
  display: flex;
  margin-bottom: 10px;
}
.stel-battlenews-slider ul li a {
  color: #001d42;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  letter-spacing: -0.36px;
}
.stel-battlenews-slider ul li a:hover {
  color: #e1261c;
}
.stel-battlenews-bullets {
  display: flex;
  justify-content: center;
}
.stel-battlenews-bullets button {
  border: none;
  padding: 0px;
  background: #b0b0b0;
  width: 16px;
  height: 4px;
  border-radius: 20px;
  margin: 0 3px;
  cursor: pointer;
}
.stel-battlenews-bullets button.glide__bullet--active {
  background: #e1261c;
}
