.stel-midlstories {
  margin-bottom: 20px;
}
.stel-midlstories li {
  position: relative;
  margin-top: 15px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
.stel-midlstories li span {
  font-size: 11px;
  color: #e1261c;
  text-transform: uppercase;
}
.stel-midlstories li a {
  display: flex;
}
.stel-midlstories li:first-child a {
  display: block;
}
.stel-midlstories li:first-child figure {
  margin-bottom: 0;
}
.stel-midlstories li a figure {
  line-height: 0;
  width: 100%;
  margin-bottom: 5px;
  margin-right: 10px;
}
.stel-midlstories li a figure img {
  width: 100%;
}
.stel-midlstories li a h2 {
  background: #f2f2f2;
  padding: 10px;
  color: #001d42;
  font-size: 22px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.44px;
}
.stel-midlstories li a h2 span {
  display: block;
}
.stel-midlstories li a h3 {
  color: #282828;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 55px;
}
.stel-midlstories li a h2:hover,
.stel-midlstories li a h3:hover {
  color: #e1261c;
}
.stel-midlstories li:first-child {
  border: none;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 0px;
}
.ls-listingstory-more {
  position: relative;
  display: block;
  margin: 15px 0 20px 0;
  text-align: center;
  text-decoration: none;
}
.ls-listingstory-more span {
  background: #fff;
  padding: 0 30px;
  text-transform: uppercase;
  color: #e1261c;
  position: relative;
  z-index: 1;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  top: -10px;
}
.ls-listingstory-more:before,
.ls-listingstory-more:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #cccccc;
}
.ls-listingstory-more:before {
  top: 3px;
}
.ls-listingstory-more span:before,
.ls-listingstory-more span:after {
  content: "";
  position: absolute;
  top: 1px;
  width: 3px;
  height: 15px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  transform: rotate(20deg);
  display: block;
}
.ls-listingstory-more span:before {
  left: 10px;
}
.ls-listingstory-more span:after {
  right: 10px;
}
