.furthered_section {
    width: 100%;
    clear: both;
    margin-bottom: 60px;
    min-height: 800px;
}
.furthered_img {
    width: 900px;
    position: relative;
    height:511px;
    overflow: hidden;
}
.furthered_img iframe{
    width: 900px;
    height:511px;
}
.furthered_section.openBox .furthered_content {
    padding-bottom: 10px;
}
.furthered_content {
    position: relative;
}
.furthered_content {
    padding: 0;
}
.furthered_content {
    margin-left: 30px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    padding-top: 20px;
    width: calc(100% - 30px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    margin-right: 20px;
    padding-right: 48px;
}
ul.date_time {
    letter-spacing: -0.24px;
    color: #696969;
    text-transform: uppercase;
    display: flex;
    font-size: 11px;
}
ul.date_time li {
    position: relative;
    padding-left: 12px;
    padding-right: 20px;
}
ul.date_time li:after {
    width: 6px;
    height: 6px;
    content: "";
    position: absolute;
    left: 0;
    background: #EB3D3C 0% 0% no-repeat padding-box;
    border-radius: 10px;
    top: 4px;
}
.video_share {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 5px;
}
.video_share a span, .video_share_m a span {
    margin-right: 8px;
    background: url(https://images.news18.com/ibnkhabar/uploads/assets/event/common/others/sprite_img_1.svg)
    0 0 no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}

.video_share .icon_facebook, .video_share_m .icon_facebook {
    background-position: 0px 0px;
}
.video_share .icon_twitter, .video_share_m .icon_twitter {
background-position: 0px -50px;
}
.video_share .icon_koo, .video_share_m .icon_koo {
background-position: 0px -100px;
}
.video_share .icon_whatsapp, .video_share_m .icon_whatsapp {
    background-position: 0px -150px;
}

.video_share img {
    width: 30px;
}
h1.content_title {
    padding: 0 30px 10px;
}
h1.top_story_h {
    letter-spacing: 0px;
    color: #333333;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
}
.content_title {
    letter-spacing: -0.48px;
    color: #333333;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    font-family: 'Noto Sans';
    padding-bottom: 10px;
}
.furthered_section.openBox .furthered_content > p {
    height: auto;
}
.furthered_content > p {
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    margin-bottom: 20px;
}
.furthered_content > p {
    letter-spacing: 0px;
    color: #333333;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 20px;
}
.furthered_section.openBox a.read_more_btn {
    display: none;
}
a.read_more_btn {
    background: #E0261D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    width: 138px;
    height: 30px;
    margin: auto;
    display: inherit;
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
    bottom: -18px;

}
a.read_more_btn:hover {
    color: #fff;
    cursor: pointer;
}
.furthered_img i img {
    width: 68px;
    height: 68px;
    border-radius: 100px;
}
.furthered_img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}
.furthered_img i {
    position: absolute;
    bottom: -20px;
    left: -6px;
    z-index: 1;
}

.top_story_img { width: 100%; position: relative; height: 260px; overflow: hidden;}
.top_story_img i img {     width: 50px;     height: 50px;         border-radius: 8px !important; }  
.top_story_img i {     position: absolute;     bottom: -20px;     left: 10px; }  
.videos_consumption_row {     padding-top: 16px; }  
.video_share_m img {     width:25px; min-height: 25px; } 
.top_story_video {     width: 100%;     margin-bottom:50px; } 
.video_share_m { 	display: flex;     align-items: center;     margin-top: 13px; }  
.video_share_m a {     margin-right: 8px; }  
ul.date_time {     padding-bottom: 20px; }  
a.read_more_btn {     background: #E0261D 0% 0% no-repeat padding-box;     box-shadow: 0px 3px 6px #00000029;     border: 1px solid #F5F5F5;     border-radius: 20px;     width: 138px;     height: 30px;     margin: auto;     display: inherit;     text-align: center;     line-height: 30px;     letter-spacing: -0.3px;     color: #FFFFFF;     font-size: 15px;     position: relative;     bottom: -18px; }  
p.video_embed_p {     letter-spacing: 0px;     color: #333333;     font-size: 14px;     line-height: 25px;     padding: 20px 0;    overflow: hidden;    position: relative; }  
p.video_embed_p:after {  display:none;  position: absolute;     bottom: 6px;     height: 69%;     left: 0;     width: 100%;     content: "";     background: transparent linear-gradient(0deg, #F5F5F5 0%, #FFFFFF7B 45%, #FFFFFF00 50%, #80808000 100%) 0% 0% no-repeat padding-box;     pointer-events: none; }  
.video_share_m span {     letter-spacing: 0px;     color: #999999;     text-transform: uppercase;     font-size: 12px;     padding-right: 10px; }   
.videos_consumption_row.openBox p.video_embed_p {     height: auto; }  
.videos_consumption_row.openBox p.video_embed_p:after {     opacity: 0; }  
.videos_consumption_row.openBox a.read_more_btn {     display: none; }
.videos_consumption_row {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    width: 95%;
    margin: auto;
    padding-left: 10px;
    border-radius: 0 0 10px 10px;
}
.video_ifram_thard{
    width: 865px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.video_ifram_thard iframe {
    width: 865px;
    height: 500px;
}
.mvideo_ifram_thard iframe{
    width: 100%;
    height: 314px;
}
/* video article card */